@import "../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Tamma+2:600,700);

body {
    font-family: "Noto Sans TC", sans-serif;
  }
  
.link-dark {
    &:hover {
        color: $primary !important
    }
}

.btn-primary{
    &:hover {
        background-color: $info;
        border: $info;
        color: $white !important
    }
}

.btn-outline-primary:hover > i{
    color: $info;
}

.nav-pills .nav-link.active{
    border-bottom: 2px solid $primary;
    border-radius: 0;
    font-weight: bold;
}

.ls-2{
    letter-spacing: 2px;
}

.ls-07{
    letter-spacing: 0.7px;
}

.ls-08{
    letter-spacing: 0.8px;
}

.card-icon{
    width: 30px;
    height: 30px;
}

.h-3{
    height: 3px;
}

.accordion-item{
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 8px 0 rgba(73,72,70,0.15);
}

.more{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Baloo Tamma 2', cursive;
}

.news-img{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}